{% extends "base.html" %}

{% block title %}Log In{% endblock title %}

{% block content %}

<div class="container">
    <div class="text-dark">
        <form class=" row g-3 " method="post" action="/login">
            {{ form.hidden_tag() }}
            <h1 class="h1">Log in</h1>
            <div class="container-fluid"> 
          
                <div class="col-md-4">
                    {{ form.email.label(class='form-label') }}
                    {{ form.email(class='form-control') }} 
                </div>
                <br>
                <div class="col-md-4">
                    {{ form.password.label(class='form-label') }}
                    {{ form.password(class='form-control') }}
                      
                <br>
                {{ form.submit(class='btn btn-outline-dark btn-sm col-6')}}
                <div class="form-check form-switch form-check-inline">
                    {{ form.remember(class='form-check-input')}}
                    {{ form.remember.label(class='form-check-label')}}
                </div>
            </div>
            
        </form>
    </div>
</div>
{% endblock content %}